<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Education</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<div class = "container">
<body style="background-color:aliceblue;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Forge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign-In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index">Categories</a>
                </li>
                </ul>
            </div>
        </nav>
        <h1>Personalized Education</h1>
    </header>
        <nav>
            <a href="/index/int/add">Add an Intervention</a>
        </nav>
        <br>
    <div class="card-deck">
        <% for(let i = 0; i < Interventions.length; i++){ %>
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body" href="/index/<%=Interventions[i].id%>">
                    <h5 class="card-title"><%=Interventions[i].name%></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush" href="/index/<%=Interventions[i].id%>">
                    <li class="list-group-item"><button onclick="showOutcomes()">Outcomes</button>
                        <div id="outcomes" href="/index/<%=Interventions[i].id%>" style="display: none;">
                            <p><%=Interventions[i].outcomes%></p>
                        </div>
                    </li>
                    <li class="list-group-item"><button onclick="showResources()">Resources</button>
                        <div id="resources" href="/index/<%=Interventions[i].id%>" style="display: none;">
                            <p><%=Interventions[i].resources%></p>
                        </div>
                    </li>
                </ul>
                <div class="card-body" href="/index/<%=Interventions[i].id%>" id="buttons">
                    <button><a href="./int/edit" class="card-link">Edit</a></button>
                    <button id="add"><a href="#" class="card-link">+ add to myList</a></button>
                </div>
                <div class="card-body" href="/index/<%=Interventions[i].id%>">
                    <form action="/index/<%Interventions[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div>
            </div>
            <br>
        <% } %>
    </div>
<script>
    function showOutcomes() {
        const outcome = document.getElementById("outcomes");
            if (outcome.style.display === "none") {
                outcome.style.display = "block";
            } else {
                outcome.style.display = "none";
            }
    }
    function showResources() {
        const resource = document.getElementById("resources");
            if (resource.style.display === "none") {
                resource.style.display = "block";
            } else {
                resource.style.display = "none";
            }
    }
</script>
</body>
</div>
</html>